<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src='Controllers/mainController.js'></script>
    <script src='Controllers/skillsController.js'></script>
    <link rel="stylesheet" href="style.css">
    <title> Portfolio </title>
</head>
<body ng-app='PortfolioApp' ng-controller='mainController'>

    <div class="banner">
        <div class='bannerContainer' ng-hide="nameSubmitted">
            <input type="text" ng-model="name"  required>
            <button ng-click="submitName()" ng-show="name.length > 0">Submit</button>
        </div>
        <h1 ng-show='nameSubmitted'> Welcome, {{ name }} </h1>
    </div>

    <div class="menu">
        <a href="#!/home" class={{active[0]}} >Home</a>
        <a href="#!/skills" class={{active[1]}} >Skills</a>
        <a href="#!/contacts" class={{active[2]}} >Contacts</a>
    </div>

    <div class="content" ng-view> </div>
</body>


</html>
