<h1>Skills</h1>
<table>
    <tr>
        <th>Skills I have</th>
        <th>Skills I need to have</th>
        
    </tr>
    <tr>
        <td >
            <p ng-repeat="x in skillsHave">{{ x }}
                <span ng-click='deleteItem(skillsHave, x)'>
                    x
                </span>
            </p>      
        </td>
        <td>
            <p ng-repeat="y in skillsNeeded">{{ y }}
                <span ng-click='deleteItem(skillsNeeded, y)'>
                    x
                </span>
            </p>     
        </td>      
    </tr>
    <tr>
       <td>
          <input type="text" ng-keypress="addHaveSkill($event,haveSkillName)" ng-model='haveSkillName'>
          
       </td>
       <td>
          <input type="text" ng-keypress="addNeededSkill($event,needSkillName)" ng-model='needSkillName'>
                 
    </td>
    </tr>
    <tr>
        <td >
            <p ng-show="itemExists(skillsHave, haveSkillName)"> Skill {{ haveSkillName }} is already in the list</p>     
        </td>
        <td>
           <p ng-show="itemExists(skillsNeeded, needSkillName)"> Skill {{ needSkillName}} is already in the list</p>    
        </td>      
    </tr>
<table>

